<app-statistic
  [taskAll]="getTaskListSize()"
  [tasksFinished]="getTasksAmountByStatus('Заврешено')"
  [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
  [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
>
</app-statistic>
<div>
  <label> Показать завершенные задачи
    <input type = "checkbox" (change)="filterTasks($event)"/>
  </label>
</div>

<app-task-add
  *ngIf="addOrEditCommand"
  [tasksLastIndex]="tasks.length"
  (addTaskEmitter)="addTaskToArray($event)"
>
</app-task-add>
<app-edit-task
  (editTaskEmitter)="editTaskInArray($event)"
  (cancelEditTaskEmitter)="cancelEditTaskEmitter($event)"
>
</app-edit-task>

<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Название задачи</th>
    <th scope="col">Категория</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Статус</th>
    <th scope="col">Редактирование/Удаление</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let task of tasks;"
>
  <th *ngIf="checked || (!checked && task.status != 'Заврешено')">{{task.id}}</th>
  <td *ngIf="checked || (!checked && task.status != 'Заврешено')">{{task.name | myTitleCase}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Заврешено')">{{task.category}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Заврешено')">{{task.dateStart}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Заврешено')">{{task.dateEnd}}</td>
  <td
    [ngStyle]="{'color': task.status == 'Просрочено' ? 'red' : 'black'}"
    *ngIf="checked || (!checked && task.status != 'Заврешено')"
  >
    {{task.status}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Заврешено')">
    <button class="btn btn-success" (click)="editTask(task)">Редактировать</button>
    <button class="btn btn-danger" (click)="deleteTask(task.id)">Удалить</button>
    <button class="btn btn-secondary" [routerLink]="['/tasks', task.id]">Просмотр</button>
  </td>
</tr>
  </tbody>
</table>

