<app-statistic
  [taskAll]="getTaskListSize()"
  [tasksFinished]="getTasksAmountByStatus('Выполнено')"
  [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
  [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
>
</app-statistic>
<div>
  <label> Показать завершенные задачи
    <input type = "checkbox" (change)="filterTasks($event)"/>
  </label>
</div>
<app-task-add
  (addTaskEmitter)="addTaskToArray($event)"
>
</app-task-add>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Название задачи</th>
    <th scope="col">Категория</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Статус</th>
    <th scope="col">Удаление задачи</th>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let task of tasks; let i = index"
>
  <th *ngIf="checked || (!checked && task.status != 'Выполнено')">{{i + 1}}</th>
  <td *ngIf="checked || (!checked && task.status != 'Выполнено')">{{task.name}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Выполнено')">{{task.category}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Выполнено')">{{task.dateStart}}</td>
  <td *ngIf="checked || (!checked && task.status != 'Выполнено')">{{task.dateEnd}}</td>
  <td
    [ngStyle]="{'color': task.status == 'Просрочено' ? 'red' : 'black'}"
    *ngIf="checked || (!checked && task.status != 'Выполнено')"
  >
    {{task.status}}</td>

  <td *ngIf="checked || (!checked && task.status != 'Выполнено')">
    <button class="btn btn-danger" (click)="deleteTask(i)">Удалить задачу</button>
  </td>
</tr>
  <tr app-list-row
      [name]="'Название 10'"
      [category]="'Категория 10'"
      [dateStart]="'20:15 08-10-2019'"
      [dateEnd]="'20:15 08-10-2019'"
      [status]="'Выполнено'"
      (deleteTaskEmitter)="deleteTaskFromArray($event)"
  >
  </tr>
  </tbody>
</table>

