<app-statistic
  [taskAll]="getTaskListSize()"
  [tasksFinished]="getTasksAmountByStatus('Выполнено')"
  [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
  [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
>
</app-statistic>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Название задачи</th>
    <th scope="col">Категория</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Статус</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Залить бензин полный бак</td>
    <td>Машина</td>
    <td>11.01.2021</td>
    <td>11.01.2021</td>
    <td><input type = "checkbox"/></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Передать отчеты начальнику управления</td>
    <td>Работа</td>
    <td>11.01.2021</td>
    <td>12.01.2021</td>
    <td><input type = "checkbox"/></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Убраться у себя в комнате</td>
    <td>Личное</td>
    <td>12.01.2021</td>
    <td>12.01.2021</td>
    <td><input type = "checkbox"/></td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Приготовить ужин</td>
    <td>Дом</td>
    <td>12.01.2021</td>
    <td>12.01.2021</td>
    <td><input type = "checkbox"/></td>
  </tr>
  <tr app-list-row
      [name]="'Название 10'"
      [category]="'Категория 10'"
      [dateStart]="'20:15 08-10-2019'"
      [dateEnd]="'20:15 08-10-2019'"
      [status]="'Выполнено'"
      (deleteTaskEmitter)="deleteTaskFromArray($event)"
  >
  </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-success" (click)="addTask()">Добавить задачу</button>
</div>
<div>
  <label> Показать заверщенные задачи
  <input type = "checkbox" (change)="filterTasks($event)"/>
  </label>
</div>

