<form>
  <div class="col-xs-3">
    <label>Название</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="name"/>
  </div>
  <div class="col-xs-3">
    <label>Категория</label>
    <input type="text" class="form-control" name="category" [(ngModel)]="category">
  </div>
  <div class="col-xs-3">
    <label>Дата начала</label>
    <input type="text" class="form-control" name="dateStart" [(ngModel)]="dateStart">
  </div>
  <div class="col-xs-3">
    <label>Дата окончания</label>
    <input type="text" class="form-control" name="dateEnd" [(ngModel)]="dateEnd">
  </div>
  <div class="col-xs-3">
    <label>Статус</label>
    <input type="text" class="form-control" name="status" [(ngModel)]="status">
  </div>
  <button class="btn btn-success" (click)="addTask()">Добавить задачу</button>
</form>

